body {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'limelight', Arial, Helvetica, sans-serif
}

.brand-img {
    height: 30px;
    width: 35px;
    background-size: cover;
    transition: background-image 500ms linear;
    border-radius: 50%;
    background-color: white;
}

.brand-logo {
    background-image: url('../images/Screen\ Time\ Logo\ Opened\ Shadow.png');
}

.brand-logo:hover {
    background-image: url('../images/Screen\ Time\ Logo\ Opened.png');
}

.brand-logo-closed {
    background-image: url('../images/Screen\ Time\ Logo\ Closed\ Shadow.png');
}

.brand-logo-closed:hover {
    background-image: url('../images/Screen\ Time\ Logo\ Closed.png');
}

.game-screen {
    min-height: calc(100vh - 40px - 60px);
}

.spacer-for-footer {
    min-height: calc(100vh - 40px);
}

.panel {
    /* border: solid 1px black; */
    /* padding: 125px; */
    height: calc(50vh - ((40px + 60px)/2));
    min-height: 25%;
    z-index: 2;
    /* background-color: rgba(100,100,100,0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.hint {
    width: 100%;
    display: block;
}

/* .hint video {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 20px;

} */

video {
    /* content: ''; */
    position: absolute;
    /* background: rgba(0, 0, 0, 0.5); */
    /* border-radius: 5px; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    z-index: 10;
    width: 50vw;
    height: calc(50vh - ((40px + 60px)/2));
    object-fit: fill;
    transition: visibility 0s, opacity 0.5s linear;
}

.hidden-video {
    display: none;
    opacity: 0;
}

.panel img {
    padding: 0;
    height: 75%;
}

@media screen and (max-width: 450px) {
    #navbar-title {
        display: none;
    }
}

@media screen and (max-width: 992px) {
.panel {
    height: calc(25vh - ((40px + 60px)/4));
}

.panel.double-panel {
    height: calc(50vh - ((40px + 60px)/2));
}

video {
    width: 100vw;
    height: calc(25vh - ((40px + 60px)/4));
}
}