.game-screen {
    min-height: 75vh;
}

.panel {
    border: solid 1px black;
    /* padding: 125px; */
    min-height: 25%;
}


video {
    
    position:absolute ;
    
}


body {
    position: relative;
    
}